<%# 顧客トップページ %>
<style>
  .jumbotron {
    height: 300px;
    width: 100%;
    display: table;
    background-image: url("homes/cafe_haikei.png") center no-repeat;
    background-size: cover;
  }
</style>

<%# ジャンル検索　※できれば %>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render 'public/search', genres: @genres %>
    </div>

    <div class="col-md-9 offset-md-1">
      <div class="jumbotron">
        <div class="cover-text text-center">
          <p style="color: #000;">
            ようこそ、ながのCAKEへ！<br />
            このサイトは、ケーキ販売のECサイトになります。<br />
            会員ではない方も商品の閲覧はできますが、<br />
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>

      <div class="col-md-auto mb-3">
        <h3>新着商品</h3>
      </div>
      <div class="row">
        <% @items.first(4).each do |item| %>
          <div class="col-lg-3 col-md-6 mb-4">
            <%= image_tag item.get_image(150, 150) %><br />
            <%= item.name %><br />
            ￥<%= item.price.to_s(:delimited) %>
          </div>
        <% end %>
        </div>
      </div>
      <div class="col-12 text-right mb-5">
        <%= link_to '全ての商品を見る>', items_path %>
      </div>
    </div>
  </div>
</div>