<%# 管理者会員詳細画面 %>
<h1>会員詳細</h1>

<%# 会員詳細 %>
<div class="form-group">
<label for="customer_list">会員ID</label>
  <%= @customer.id %>
</div>

<div class="form-group">
<label for="customer_list">氏名</label>
  <%= @customer.last_name %>　<%= @customer.first_name %>
</div>

<div class="form-group">
<label for="customer_list">フリガナ</label>
  <%= @customer.last_name_kana %>　<%= @customer.first_name_kana %>
</div>

<div class="form-group">
<label for="customer_list">郵便番号</label>
  <%= @customer.postal_code %>
</div>

<div class="form-group">
<label for="customer_list">住所</label>
  <%= @customer.address %>
</div>

<div class="form-group">
<label for="customer_list">電話番号</label>
  <%= @customer.telephone_number %>
</div>

<div class="form-group">
<label for="customer_list">メールアドレス</label>
  <%= @customer.email %>
</div>

<div class="form-group">
<label for="customer_list">販売ステータス</label>
  <% if @customer.is_active == true %>
    <%= '有効' %>
  <% else %>
    <%= '退会' %>
  <% end %>
</div>

<div class="form-group">
  <%= link_to '編集する',  edit_admin_customer_path(@customer.id) %>
  <%= link_to '注文履歴一覧を見る' %>
</div>

