<%# 管理者注文履歴詳細画面 %>
<h1>注文履歴詳細</h1>

<%# 注文履歴詳細 %>
<div class="form-group">
  <label for="order_list">購入者</label>
  <% link_to admin_customers_path(@order.id) do %>
    <%= @order.customer.last_name %><%= @order.customer.first_name %>
  <% end %>
</div>

<div class="form-group">
<label for="order_list">注文日</label>
  <%= @order.created_at.strftime('%Y/%m/%d') %>
</div>

<div class="form-group">
<label for="order_list">配送先</label>
  〒<%= @order.address %><br />
  <%= @order.customer.last_name %><%= @order.customer.first_name %>
</div>

<div class="form-group">
<label for="order_list">支払方法</label>
  <%= @order.payment %>
</div>

<%= form_with model: @order, url: admin_order_path do |f| %>

  <div class="form-group">
  <label for="order_list">注文ステータス</label>
    <%= f.collection_select :order_status, Order.order_statuses_i18n.keys.map{|k| [I18n.t("enums.order.order_status.#{k}"), k]} %>
    <%= f.submit '更新' %>
  </div>
<% end %>

<%# 注文履歴詳細テーブル %>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.item.name %></td>
      <td><%= order_detail.price.to_s(:delimited) %></td>
      <td><%= order_detail.amount %></td>
      <td><%= (order_detail.price * order_detail.amount).to_s(:delimited) %></td>
      <td>
        <%= form_with model: @order_details, url: admin_order_detail_path do |f| %>
          <%= f.collection_select :make_status, OrderDetail.make_statuses_i18n.keys.map{|k| [I18n.t("enums.order_detail.make_status.#{k}"), k]} %></td>
      <td><%= f.submit '更新' %></td>
        <% end %>
    </tr>
  </tbody>
</table>

<div class="form-group">
  <label for="order_list">商品合計</label>
  <%= (@order.total_price - @order.postage).to_s(:delimited) %>円
</div>

<div class="form-group">
  <label for="order_list">送料</label>
  <%= @order.postage %>円
</div>

<div class="form-group">
  <label for="order_list">請求金額</label>
  <%= @order.total_price.to_s(:delimited) %>円
</div>


