<%# 顧客商品一覧画面 %>

<%# ジャンル検索　※できれば %>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render 'public/search', genres: @genres %>
    </div>

    <div class="col-md-9 offset-md-1">
      <div class="col-md-auto mb-3">
        <h3 class="font-weight-bold">商品一覧</h3>
        <p>(全<%= @all_items.count %>件)</p>
      </div>
      <div class="row">
        <% @items.each do |item| %>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="items">
            <%= link_to item_path(item.id), class: 'link' do %>
              <%= image_tag item.get_image(120, 100) %><br />
              <%= item.name %><br />
              ￥<%= item.price.to_s(:delimited) %>
            <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="mx-auto">
          <%= paginate @items %>
        </div>
      </div>
    </div>
  </div>
</div>


