<%# 顧客商品詳細画面 %>

<%# ジャンル検索　※できれば %>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render 'public/search', genres: @genres %>
    </div>

    <div class="col-md-4">
      <%= image_tag @item.get_image(300, 300) %>
    </div>
    <div class="col-md-5">
      <h5 class="font-weight-bold mb-3">
        <%= @item.name %>
      </h5>
      <h6 class="mb-3">
        <%= @item.introduction %><br />
      </h6>
      <h5 class="font-weight-bold mb-3">
        ￥<%= (@item.price * 1.1).to_i.to_s(:delimited) %>(税込)
      </h5>
      <%= form_with model: @cart_item, url: cart_items_path do |f| %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.select :amount, *[1..10], {include_blank: '--個数選択--'}, class: 'mr-3' %>
        <%= f.submit 'カートに入れる', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>