<%# 顧客商品詳細画面 %>

<%# ジャンル検索　※できれば %>
<%= render 'public/search', genres: @genres %>

<%= image_tag @item.get_image(200, 200) %>

<h5><%= @item.name %></h5>
<%= @item.introduction %>
<%= (@item.price * 1.1).to_i.to_s(:delimited) %>(税込)

<%= form_with model: @cart_item url:  do |f| %>
  <% if customer_signed_in? %>
    <%= f.hidden_field :customer_id, value => current_customer.id %>
  <% end %>
  <%= f.hidden_field :item_id, value => crrent_customer.id %>
  <%= f.collection_select :amount, *[1..10], { prompt: '--個数を選択してください--' } %>
  <%= f.submit 'カートに入れる' %>
<% end %>