<%# 全体layout %>
<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Bootstrap読み込み %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%# ヘッダー表示 %>
    <header class="sticky-top shadow-sm">
      <%# 管理者ヘッダー %>
      <%= render 'layouts/header' %>
    </header>

    <p id="notice">
      <%= notice %>
    </p>
    <%# メイン画面表示 %>
    <main class="mb-5">
      <%= yield %>
    </main>

    <%# フッター表示 %>
    <footer class="fixed-bottom bg-light text-dark pt-3">
      <%= render 'layouts/footer' %>
    </footer>

  </body>
</html>
