<%# 全体layout %>
<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Bootstrap読み込み %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%# ヘッダー表示 %>
    <header>
      <%# 管理者ヘッダー %>
      <% if admin_signed_in? %>
        <%= render 'layouts/adminheader' %>
      <% else %>
        <%= render 'layouts/customerheader' %>
      <% end %>

    </header>

    <%# メイン画面表示 %>
    <main>
      <%= yield %>
    </main>

    <%# フッター表示 %>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>

  </body>
</html>
